doctype html
html

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title CV · Rafael Soares

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.3/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')
        link(rel="stylesheet", type="text/css", href="css/print.css", media="print")

    body#page-top
        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top.no-print
            div.row
                div.column
                    a.flag-icons
                        p
                            | EN
                div.column
                    label.switch
                        input#lang-switch(type="checkbox", name='lang-switch')
                        span.slider.round
                div.column     
                    a.flag-icons
                        p
                            | PT
            a.navbar-brand.js-scroll-trigger(href='#about')
                span.d-block.d-lg-none Rafael Soares
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='https://avatars.githubusercontent.com/u/55322003?v=4', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') 
                            i.far.fa-address-card
                            span(lang='en') · About
                            span(lang='pt') · Sobre
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills')
                            i.far.fa-star
                            span(lang='en') · Skills
                            span(lang='pt') · Habilidades
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience')
                            i.fas.fa-briefcase
                            span(lang='en') · Experience
                            span(lang='pt') · Experiências
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#certifications')
                            i.fas.fa-award
                            span(lang='en') · Certifications
                            span(lang='pt') · Certificações
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education')
                            i.fas.fa-certificate
                            span(lang='en') · Education
                            span(lang='pt') · Formação
            //- a.btn.btn-glyphicon.mb-2(onclick="window.print();return false;")
            //-     img.icon-btn(src='assets/img/printer.png', alt='print')
            //-     .d-none.d-lg-inline-block · Print

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section.low-margin-on-print
                .resume-section-content
                    h1.mb-0
                        | Rafael 
                        span.text-primary Soares
                    .subheading.mb-5
                        | São Paulo · Brazil ·  
                        a(href='tel:+5511944552187',target="_blank")
                            span +55(11)94455-2187
                    p.lead.mb-5(lang='en')
                         | I'm Software Developer, and I have knowledges of using Node/Angular/Typescript/JavaScript in addition to HTML/CSS/Back-end/SQL. I've been working with software development since 2019, using agile methodology and TDD since November/2019.<br/><br/> Currently I am Software Developer insurance segment from Santander(F1RST). I already worked Development in websites, ERP Systems using the following softwares: HTML, CSS, PHP, Bootstrap and Adobe XD, Back-end, SEO allowing ranking websites and using Linux - Ubuntu. Management of the Control Panel (WordPress), focusing Custom Fields and Custom Post Types as mainly development. <br/><br/> Looking for new challenges, I am always in contact with new technologies in order to consolidate and expand my knowledge.

                    p.lead.mb-5(lang='pt')
                        | Sou Desenvolvedor de Software e possuo conhecimento de frontend usando Node/Angular/Typescript/JavaScript em adição ao HTML/CSS/Back-end/SQL. Trabalho com desenvolvimento de software desde 2019 usando metodologia ágil e TDD desde Novembro/2019.<br/><br/> Atualmente sou Desenvolvedor de Software no segmento de Seguros do Santander(F1RST), já atuei com Desenvolvimento em WebSites, Sistemas ERPs usando as seguintes tecnologias: HTML, CSS, PHP, Bootstrap, Adobe XD, Back-end, SEO Search Engine Optimization, Linux, Ubuntu. Gerenciamento de Painel de Controle (WordPress), focando em campos customizados e tipos de posts customizados. <br/><br/> Em busca de novos desafios, estou sempre em contato com novas tecnologias a fim de consolidar e ampliar meu conhecimento.
                    .social-icons
                        a.social-icon(href='mailto:rafaelso240@gmail.com',target="_blank")
                            img(src='assets/img/gmail_icon.svg', alt='gmail', width='50', height='50')
                        a.social-icon(href='https://www.linkedin.com/in/rafael-soares-it/',target="_blank")
                            img(src='assets/img/linkedin_icon.png', alt='LinkedIn', width='50', height='50')
                        a.social-icon(href='https://github.com/rafaelso1',target="_blank")
                            img(src='assets/img/github_icon.svg', alt='GitHub', width='50', height='50')
                        a.social-icon(href='https://api.whatsapp.com/send?phone=5511944552187&text=Ol%C3%A1!%20Vim%20atrav%C3%A9s%20do%20seu%20curr%C3%ADculo%20no%20rafaelso1.github.io',target="_blank")
                            img(src='assets/img/whatsapp_icon.png', alt='whatsapp', width='50', height='50')

            hr.m-0.no-print

            // Skills
            section#skills.resume-section.low-margin-on-print
                .resume-section-content
                    h2.mb-5(lang='en') Skills
                    h2.mb-5(lang='pt') Habilidades
                    .subheading.mb-3(lang='en') Programming Languages & Frameworks & Continuous Cycle Integration Tools
                    .subheading.mb-3(lang='pt') Linguagens de Programação & Bibliotecas & Ferramentas de Integração de Ciclo Contínuo
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            a(href='https://www.w3schools.com/cs/', target='_blank')
                                img(src='https://raw.githubusercontent.com/devicons/devicon/master/icons/csharp/csharp-original.svg', alt='csharp', width='40', height='40')
                        li.list-inline-item
                            a(href='https://dotnet.microsoft.com/', target='_blank')
                                img(src='https://raw.githubusercontent.com/devicons/devicon/master/icons/dotnetcore/dotnetcore-original.svg', alt='dotnet', width='40', height='40')
                        li.list-inline-item
                            a(href='https://nodejs.org', target='_blank')
                                img(src='https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original.svg', alt='nodejs', width='40', height='40')
                        li.list-inline-item
                            a(href='https://angular.io', target='_blank')
                                img(src='https://angular.io/assets/images/logos/angular/angular.svg', alt='angular', width='40', height='40')
                        li.list-inline-item
                            a(href='https://www.typescriptlang.org/', target='_blank')
                                img(src='https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-original.svg', alt='typescript', width='40', height='40')
                        li.list-inline-item
                            a(href='https://developer.mozilla.org/en-US/docs/Web/JavaScript', target='_blank')
                                img(src='https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg', alt='javascript', width='40', height='40')
                        li.list-inline-item
                            a(href='https://html.spec.whatwg.org/multipage/', target='_blank')
                                img(src='https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg', alt='html5', width='40', height='40')
                        li.list-inline-item
                            a(href='https://www.w3schools.com/css/', target='_blank')
                                img(src='https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg', alt='css3', width='40', height='40')
                        li.list-inline-item
                            a(href='https://www.microsoft.com/en-us/sql-server', target='_blank')
                                img(src='https://www.freeiconspng.com/uploads/sql-server-icon-png-1.png', alt='mssql', width='40', height='40')
                        li.list-inline-item
                            a(href='https://www.python.org/', target='_blank')
                                img(src='https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-plain-wordmark.svg', alt='docker', width='40', height='40')
                        li.list-inline-item
                            a(href='https://git-scm.com/', target='_blank')
                                img(src='https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg', alt='git', width='40', height='40')
                        li.list-inline-item
                            a(href='https://postman.com', target='_blank')
                                img(src='https://www.vectorlogo.zone/logos/getpostman/getpostman-icon.svg', alt='postman', width='40', height='40')
                        li.list-inline-item
                            a(href='https://www.jenkins.io/', target='_blank')
                                img(src='https://raw.githubusercontent.com/devicons/devicon/master/icons/jenkins/jenkins-plain.svg', alt='postman', width='40', height='40').bg-dark.rounded-circle
                        li.list-inline-item
                            a(href='https://www.atlassian.com/br/software/jirahttps://www.atlassian.com/br/software/jira', target='_blank')
                                img(src='https://raw.githubusercontent.com/devicons/devicon/master/icons/jira/jira-plain.svg', alt='postman', width='40', height='40')
                        li.list-inline-item
                            a(href='https://ubuntu.com/download', target='_blank')
                                img(src='https://raw.githubusercontent.com/devicons/devicon/master/icons/ubuntu/ubuntu-plain.svg', alt='postman', width='40', height='40')
                        li.list-inline-item
                            a(href='https://code.visualstudio.com/', target='_blank')
                                img(src='https://raw.githubusercontent.com/devicons/devicon/master/icons/vscode/vscode-plain.svg', alt='postman', width='40', height='40' )
                    .subheading.mb-3(lang='en') Workflow Examples
                    .subheading.mb-3(lang='pt') Exemplos de Fluxo de Trabalho
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | SOLID Principles, Clean Code, Design Patterns
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Test-Driven Development (TDD) / Design-Driven Development (DDD)
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Swagger Documentation & JIRA Specification
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Agile Development & Scrum
            
            hr.m-0.no-print

            // Experience
            section#experience.resume-section.page-break
                .resume-section-content
                    h2.mb-5(lang='en') Professional Experiences
                    h2.mb-5(lang='pt') Experiências Profissionais

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0(lang='en') Software Developer Technician
                            h3.mb-0(lang='pt') Técnico de Desenvolvimento de Software
                            .subheading.mb-3 TOTVS S.A.
                            p(lang='en')
                                | Working with ERP System - Protheus from Healthcare segment. <br/> Following Technologies:<br/>- Python (Selenium);<br/>- HTML / JavaScript;<br/>- ADVPL;<br/>- SQL Server;<br/>- SQL;<br/><br/><br/>Soft Skills:<br/>- Testcases, Unit Tests;<br/>- Software Development;<br/>- Case Study;<br/>- SOLID, TDD (Test Driven Development);<br/>- Programming Logic;<br/>- Continuous Cycle Integration Tools (Jenkins, SonarQUBE, Jira);<br/>- Git, Github;<br/>- Agile Methodologies (Scrum, Kanban);<br/>- Acknowledges in JSON, Rest API;<br/>- Objected-oriented Programming.
                            p(lang='pt')
                                | Trabalhando com o Sistema ERP Protheus do segmento Saúde. <br/>Tecnologias Utilizadas: <br/>- Python (Selenium); <br/>- HTML / Javascript (ES6); <br/>- ADVPL; <br/>- SQL Server; <br/>- SQL. <br/><br/>Conhecimentos:<br/>- Testes automatizados, unitários;<br/>- Desenvolvimento de software;<br/>- Estudos de caso;<br/>- Boas práticas de programação (SOLID, TDD);<br/>- Lógica de programação;<br/>-ferramentas de integração em ciclo continuo (Git, Jenkins, SonarQUBE, Jira);<br/>Metodologias ágeis (Scrum, kanban fluxo puxado, Refinamento, Retrospectiva);<br/>- Conhecimentos em JSON, Rest;<br/>- Orientação a Objetos
                        .flex-shrink-0
                            span.text-primary(lang='en') November 2019 - Present
                            span.text-primary(lang='pt') Novembro 2019 - Atual
                            
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0(lang='en') IT Software Developer
                            h3.mb-0(lang='pt') IT Software Developer
                            .subheading.mb-3 F1rst
                            p(lang='en')
                                |   Working with desktop and mobile applications from insurance area.
                                <br/>Techs:
                                <br/>- JavaScript;
                                <br/>- Typescript/ Angular 8++;
                                <br/>- HTML / CSS;
                                <br/>- JSON;
                                <br/>- API REST;

                                <br/>Knowledges:
                                <br/>- Units and Automation Tests;
                                <br/>- Software Development;
                                <br/>- Case Studies;
                                <br/>- Design Patterns;
                                <br/>- Good praticies of programming (SOLID, TDD, DDD);
                                <br/>- Programming Logic;
                                <br/>- CI / CD (Git, Jenkins, Jira);
                                <br/>- Scrum
                                <br/>- Object-Oriented;
                                <br/>- UX;
                                <br/>- Clean Code;
                                <br/>- Clean Architecture; 
                                <br/>- Jest / ESLint / Jasmine      
                            p(lang='pt')
                                | Desenvolvendo aplicações móbile e desktop
                                <br/>Tecnologias:
                                <br/>- JavaScript;
                                <br/>- Typescript/ Angular 8++;
                                <br/>- HTML / CSS;
                                <br/>- JSON;
                                <br/>- Consumação API REST;
                                <br/>Conhecimentos:
                                <br/>- Testes automatizados, unitários;
                                <br/>- Desenvolvimento de software;
                                <br/>- Estudos de caso;
                                <br/>- Design Patterns;
                                <br/>- Boas práticas de programação (SOLID, TDD, DDD);
                                <br/>- Lógica de programação;
                                <br/>- Ferramentas de integração em ciclo continuo (Git, Jenkins, Jira);
                                <br/>- Scrum
                                <br/>- Orientação a Objetos
                                <br/>- UX;
                                <br/>- Clean Code;
                                <br/>- Clean Architecture; 
                                <br/>- Jest / ESLint / Jasmine
                        .flex-shrink-0
                            span.text-primary(lang='en') November 2019 - February 2022
                            span.text-primary(lang='pt') Novembro 2019 - Fevereiro 2022

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0(lang='en') Frontend Developer Internship
                            h3.mb-0(lang='pt') Desenvolvedor Frontend - Estágio
                            .subheading.mb-3(lang='en') namBBU Agency
                            .subheading.mb-3(lang='pt') Agência namBBU
                            p(lang='en')
                                | Development in websites using the following softwares: HTML, CSS, PHP, Bootstrap and Adobe XD. SEO allowing ranking websites and using Linux - Ubuntu. <br/> Management of the Control Panel (WordPress), focusing Custom Fields and Custom Post Types as mainly development.
                            p(lang='pt')
                                | Desenvolvimento em WebSites usando as seguintes tecnologias:<br/>- HTML;<br/>- CSS;<br/>- PHP;<br/>- Bootstrap;<br/>- Adobe XD;<br/>- SEO Search Engine Optimization;<br/>- Linux - Ubuntu.<br/>- Gerenciamento de Painel de Controle (WordPress), focando em campos customizados e tipos de posts customizados.
                        .flex-shrink-0
                            span.text-primary(lang='en') May 2019 - October 2019
                            span.text-primary(lang='pt') Maio 2019 - Outubro 2019

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0(lang='en') Frontend Developer Internship
                            h3.mb-0(lang='pt') Desenvolvedor Frontend - Estágio
                            .subheading.mb-3(lang='en') UI UX Brazil
                            .subheading.mb-3(lang='pt') UI UX Brasil
                            p(lang='en')
                                | Development in websites using the following softwares: HTML, CSS, Photoshop, Bootstrap and Adobe XD. Management of the Control Panel (WordPress), focusing Custom Fields and Custom Post Types as mainly development.
                            p(lang='pt')
                                | Desenvolvimento de sites utilizando a tecnologia HTML, CSS, Bootstrap, Adobe XD e Photoshop, buscando promover a melhor experiência ao usuário. Administração do painel de controle WordPress, acompanhando a realização dos sites.
                        .flex-shrink-0
                            span.text-primary(lang='en') January 2019 - April 2019
                            span.text-primary(lang='pt') Janeiro 2019 - Abril 2019
            
            hr.m-0.no-print

            // certifications
            section#certifications.resume-section
                .resume-section-content
                    h2.mb-5(lang='en') Certifications
                    h2.mb-5(lang='pt') Certificações
                    ul.fa-ul.mb-0
                        li.d-flex.flex-column.flex-md-row.justify-content-between.mt-3
                            .flex-grow-1
                                span.fa-li
                                    i.fas.fa-award.text-warning
                                a(href='https://drive.google.com/file/d/1Npn2t0HG8qpPIZ1WHMrNwWAvY9tmjpjH/view?usp=sharing', target='_blank')
                                    .mb-3(lang='en') | Cambridge Test - B1 Level - English
                                    .mb-3(lang='pt') | Test de Cambridge - B1 Level - Inglês
                            .flex-shrink-0
                        li.d-flex.flex-column.flex-md-row.justify-content-between.mt-3
                            .flex-grow-1
                                span.fa-li
                                    i.fas.fa-award.text-warning
                                a(href='https://drive.google.com/file/d/184xsGvphRKHQqD9qpl_boO-ZZHEqwrL7/view?usp=sharing', target='_blank')
                                    .mb-3(lang='en') | Scrum Foundation Professional Certificate
                                    .mb-3(lang='pt') | Certificado Profissional de Fundamentos Scrum
                            .flex-shrink-0
                        li.d-flex.flex-column.flex-md-row.justify-content-between.mt-3
                            .flex-grow-1
                                span.fa-li
                                    i.fas.fa-award.text-warning
                                a(href='https://drive.google.com/file/d/1dV3UzN3UvTyS0kKbgDzyDVpHrZ-lInZz/view?usp=sharing', target='_blank')
                                    .mb-3(lang='en') | DevOps Essentials Professional Certificate
                                    .mb-3(lang='pt') | Certificado Profissional de Essência DevOps 
                            .flex-shrink-0
                        li.d-flex.flex-column.flex-md-row.justify-content-between.mt-3
                            .flex-grow-1
                                span.fa-li
                                    i.fas.fa-award.text-warning
                                a(href='https://drive.google.com/file/d/1RpRNTOT-WydOUu9KDoKbEfR5n0CFXjUt/view?usp=sharing', target='_blank')
                                    .mb-3(lang='en') | Bootcamp Full Stack Developer
                                    .mb-3(lang='pt') | Bootcamp Desenvolvedor Full Stack
                            .flex-shrink-0
                        li.d-flex.flex-column.flex-md-row.justify-content-between.mt-3
                            .flex-grow-1
                                span.fa-li
                                    i.fas.fa-award.text-warning
                                a(href='https://drive.google.com/file/d/1VMUXZJ2tc7zMTHsE0qhiHAZgp4oEhAPk/view?usp=sharing', target='_blank')
                                    .mb-3(lang='en') | Advanced System Architecture
                                    .mb-3(lang='pt') | Arquitetura de Sistemas Avançados
                            .flex-shrink-0
                        li.d-flex.flex-column.flex-md-row.justify-content-between.mt-3
                            .flex-grow-1
                                span.fa-li
                                    i.fas.fa-award.text-warning
                                a(href='https://drive.google.com/file/d/1sn1iudlOKvt5SKHLV62WxZewA3zCgV_b/view?usp=sharing', target='_blank')
                                    .mb-3(lang='en') | Advanced Techniques in Angular 8
                                    .mb-3(lang='pt') | Técnicas Avançadas em Angular 8
                            .flex-shrink-0
                        li.d-flex.flex-column.flex-md-row.justify-content-between.mt-3
                            .flex-grow-1
                                span.fa-li
                                    i.fas.fa-award.text-warning
                                a(href='https://drive.google.com/file/d/1qt2soUwkPUYaut8MDvOB-n_6IUGKa1u0/view?usp=sharing', target='_blank')
                                    .mb-3(lang='en') | Agile Projects with Scrum
                                    .mb-3(lang='pt') | Projetos Ágeis com Scrum
                            .flex-shrink-0
                        li.d-flex.flex-column.flex-md-row.justify-content-between.mt-3
                            .flex-grow-1
                                span.fa-li
                                    i.fas.fa-award.text-warning
                                a(href='https://drive.google.com/file/d/1MM44C6o7CS9HUMBOLHxWET5M_kqwllA2/view?usp=sharing', target='_blank')
                                    .mb-3(lang='en') | DDD and Software Architecture
                                    .mb-3(lang='pt') | DDD e Arquitetura de Software
                            .flex-shrink-0
                        li.d-flex.flex-column.flex-md-row.justify-content-between.mt-3
                            .flex-grow-1
                                span.fa-li
                                    i.fas.fa-award.text-warning
                                a(href='https://bit.ly/Rafael-Soares-Certificacao', target='_blank')
                                    .mb-3(lang='en') Others +42 Certifications...
                                    .mb-3(lang='pt') Outras +42 Certificações...
                            .flex-shrink-0                        

            hr.m-0.no-print

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5(lang='en') Education
                    h2.mb-5(lang='pt') Formação

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 UNIP - Universidade Paulista
                            .subheading.mb-3(lang='en') Computer Science Bachelor's
                            .subheading.mb-3(lang='pt') Bacharelado em Ciência da Computação
                            div(lang='en') - Numerical Calculation; <br/> - Computer Science; <br/> - Project Management <br/> - Software Engineer; <br/> - Artificial Intelligence; <br/> - Operacional Research; <br/> - Data Science.
                            div(lang='pt') - Cálculo numérico; <br/> - Ciência da Computação; <br/> - Gestão de Projetos <br/> - Engenharia de Software <br/> - Inteligência artificial <br/> - Pesquisa Operacional <br/> - Ciência de Dados.
                        .flex-shrink-0
                            span.text-primary(lang='en') January 2019 - December 2022
                            span.text-primary(lang='pt') Janeiro 2019 - Dezembro 2022

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 IGTI - Bootcamp Full Stack Developer
                            .subheading.mb-3(lang='en') Technical College
                            .subheading.mb-3(lang='pt') Faculdade Técnica
                            div(lang='en') Studying the following technologies: <br/> - JavaScript; <br/> - Node.Js; <br/> - Rest API; <br/> - React-Native; <br/> - React; <br/> - MongoDB.
                            div(lang='pt') Estudando as seguintes tecnologias: <br/> - JavaScript; <br/> - Node.Js; <br/> - Rest API; <br/> - React-Native; <br/> - React; <br/> - MongoDB. 
                        .flex-shrink-0
                            span.text-primary(lang='en') June 2020 - January 2021
                            span.text-primary(lang='pt') Junho 2020 - Janeiro 2021

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3(lang='en').mb-0 ETEC - Information Technology 
                            h3(lang='pt').mb-0 ETEC - Tecnologia da Informação
                            .subheading.mb-3(lang='en') Technical School
                            .subheading.mb-3(lang='pt') Escola Técnica
                            div(lang='en') Studying the following technologies: <br/> - HTML; <br/> - CSS; <br/>- Bootstrap; <br/> - Logical Programming; <br/> - SQL Concepts.
                            div(lang='pt') Estudando as seguintes tecnologias: <br/> - HTML; <br/> - CSS; <br/>- Bootstrap; <br/> - Lógica de Programação <br/> - Conceitos de SQL.
                        .flex-shrink-0
                            span.text-primary(lang='en') June 2017 - December 2018
                            span.text-primary(lang='pt') Junho 2017 - Dezembro 2018
        
        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        script(src='https://code.jquery.com/jquery-2.2.4.min.js', integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=', crossorigin='anonymous')
script.
  $('[lang]').hide(); // hide all lang attributes on start.
  $('[lang="en"]').show(); // show just Korean text (you can change it)
  $('#lang-switch').click(function () { // put onchange event when user select option from select
  if($(this).is(':checked'))
    {
        $('[lang]').hide();
        $('[lang="pt"]').show();
    }
    else
    {
        $('[lang]').hide();
        $('[lang="en"]').show();
    }
  });